<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="METACO_ENV_API_ID" value="2ae4218d-cba1-8b65-32f3-447c4f79a520" />
    <add key="METACO_ENV_API_KEY" value="e9487d93-d70f-c362-216a-35d0d60e1343" />
    <add key="METACO_ENV_API_URL" value="http://metaco-dev-api-testnet.azurewebsites.net/v1/" />
    <add key="METACO_ENV_WALLET_PRIVATE_KEY_HEX" value="a68cb116ebbf2361cf1cfda7b1026f0e64306b8df41c8c5705cc75c69177925f" />
   </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
